<nav class="navbar">
  <h1 class="title">Couriers Manager</h1>
  <ul class="tabs is-right">
    <li class="column">
      <a class="nav-link" href="/">Datatable</a>
    </li>
    <li class="column">
      <a class="nav-link" href="/newcourier">Create New Courier</a>
    </li>
    <li class="column">
      <a class="nav-link" href="/newdestination">Create New Destination</a>
    </li>
    <li class="column">
      <a class="nav-link" href="/newtask">Create New Task</a>
    </li>
  </ul>
</nav>
