<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %>
</head>

<body>

  <header>
    <%- include('./partials/header'); %>
  </header>

  <main class="section is-large">
    <div>
      <div class="columns">
        <div class="column">
          <%- include('./partials/timetable'); %>
        </div>
      </div>





  </main>

  <footer>
    <%- include('./partials/footer'); %>
  </footer>

</body>

</html>